<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Soil Analysis Service</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">
        <a href="{{ url_for('home') }}">HOME</a>
        <a href="/about">ABOUT US</a>
        <a href="/contacts">CONTACT</a>
    </div>

    <div class="content-container">
        <h1>About Us</h1>

        <p>We are passionate about empowering farmers and gardeners with innovative technology. Our web application harnesses the power to provide you with a robust and user-friendly tool for soil classification, pH level Recognition and plant recommendation.</p>

        <h2>Simple and intuitive:</h2>
        <p>No need for technical expertise. Just upload an image and receive insightful results.</p>

        <h2>Fast and accurate:</h2>
        <p>Our algorithms are trained on extensive datasets, providing reliable classifications and identifications.</p>

        <h2>Cost-effective:</h2>
        <p>Eliminate the need for expensive equipment and laboratory tests.</p>

        <h2>Who can benefit?</h2>
        <p>Farmers and Gardeners: Make informed about recommendations of crops based on it pH level.</p>

        <p>Join us on a journey towards sustainable and informed agriculture!</p>





        
    </div>

</body>
</html>
