<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Soil Analysis Service</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">
        <a href="{{ url_for('home') }}">HOME</a>
        <a href="/about">ABOUT US</a>
        <a href="/contacts">CONTACT</a>
    </div>

    <div class="content-container">
        <h1>Contact</h1>

        <p>We're always happy to hear from you, whether you have feedback on our web app, need help using it, or simply want to connect and share your passion for sustainable agriculture. Here are several ways to reach us:</p>

        <h2>Email:</h2>
        <p>WBAFSCPLRPRCNNARFA.gmail.com</p>

        <h2>Facebook:</h2>
        <p>Soil Chuchu</p>

        <h2>Phone:</h2>
        <p>09122344677</p>

        <p>We value your feedback and appreciate you being part of our journey. Don't hesitate to reach out!</p>

        <p>StayConnected #GrowCommunity #SupportSustainableAgriculture
        wbafscplrprcnnarfa.gmail.com</p>#





        
    </div>

</body>
</html>
