<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Soil Analysis Service</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">
        <a href="{{ url_for('home') }}">HOME</a>
        <a href="/about">ABOUT US</a>
        <a href="/crop">Crop Recommendation</a>
    </div>

    <div class="content-container">

        <p>Crop Recommendation</p>
        
        
    </div>

</body>
</html>
